body {
    overflow: hidden;
}

.labels {
    position: fixed;
    z-index: 999;
    top: 150px;
    left: 200px;
}
.labels label {
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: bold;
    color: #F5BF14;
 text-shadow: white;
}