body {
    overflow: hidden;
}

.labels {
    position: fixed;
    z-index: 999;
    top: 50px;
    right: 100px;
}
.labels label {
    font-family: 'Open Sans';
    font-size: 45px;
    font-weight: 400;
    padding: 10px 20px;
    color: #fff;
    /*text-shadow: 2px 2px white;*/
    background: rgba(0,0,0, 0.75);
}